*.o
/*.s
default.ld.h
default-shared.ld.h
libwld.a
wld
core
a.out
test
/test.c
/test.s
/test2.s
/libtest.c
/libtest.so
/hello.c
/hello.s
/hello
test.ld
.vscode
test-archive-loading
libtest-archive-loading.a
libtest-archive-loading-long.a
test-symbol-resolution
test-relocations
test-parser
test-expr
test-utils
test-e2e
