*.o
/*.s
wld
core
a.out
test
/test.c
/test.s
/test2.s
/hello.c
/hello.s
/hello
.vscode
test-archive-loading
libtest-archive-loading.a
libtest-archive-loading-long.a
test-symbol-resolution
test-relocations
